snippet "des" " description:  "
"description": "$1"
endsnippet

snippet "pro" "properties: "
"properties": {
  $1
}
endsnippet

snippet "ty" "type:"
"type": "$1"
endsnippet

snippet "par" "parameters:"
"parameters": [
  {
    $1
  }
]
endsnippet

snippet "$ref" "$ref"
"$ref": "#/definitions/$1"
endsnippet
